* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Raleway", sans-serif;
}

body {
  transition: all 0.5s;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  /* font-family: "Raleway", sans-serif; */
}
.search-bar .far {
  margin-bottom: 1em;
}
#moving-text {
  opacity: 1;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
header {
  min-width: 100%;
  background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
    url("/images/heading-banner.jpg");
  background-size: cover;
  position: relative;
}

.color-white,
.fa-moon,
.fa-paw {
  color: #fff;
  margin-top: 1rem;
}

#head-top {
  display: flex;
  padding: 1.5em 3%;
  top: 50px;
  transition: 0.5s ease;
  /* transition: 0.4s; */
  width: 100%;
  top: 0;
  z-index: 100000;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  flex-basis: 50%;
  align-items: center;
}
.logo i {
  color: #f85a40;
  margin: 5px 5px -5px 5px;
}

.hidden {
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  display: none;
  position: absolute;
  margin-top: 0.7em;
  transform: translateX(-25px);
  background: transparent;
  border: 1px solid #fff;
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

#seen:hover .hidden {
  display: block !important;
}

.hidden ul li {
  padding: 1em;
  padding-bottom: 1.5em;
}

#head-top.sticky .searchIcon {
  right: 3rem;
}
#head-top.sticky {
  justify-content: center;
  position: fixed;
  padding: 0.25rem 1rem;
  background-color: #fff;
  color: black;
}
#head-top.sticky a:hover,
#head-top a:hover,
.active {
  padding-bottom: 0.75rem;
  color: #f85a40;
  border-bottom: 1px solid #f85a40;
}

#head-top.sticky .hidden a {
  color: #f85a40;
}

#head-top.sticky .hidden {
  background-color: #fff !important;
}

#head-top.sticky a,
#head-top.sticky h1,
#head-top.sticky .far {
  color: black;
}

#head-top.sticky .far {
  margin-right: 15px;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  flex-basis: 70%;
  align-items: center;
}

.nav-bar {
  flex-basis: 50%;
}

.nav-items li {
  list-style-type: none;
  text-decoration: none;
}
.nav-items li a {
  text-decoration: none;
  color: #fff;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.searchIcon {
  position: absolute;
  right: 3rem;
}
.search-bar i {
  margin-left: 10%;
}

.search-bar input {
  border-radius: 2em;
  padding: 1em;
  height: 2.5em;
  width: auto;
}
.searchIcon {
  color: orange;
}

.header-bottom {
  max-width: 80%;
  margin: auto;
  padding-top: 12%;
  padding-bottom: 8%;
}

@media screen and (max-width: 1210px) {
  .logo {
    flex: 1;
  }
  .nav-bar {
    flex: 2;
  }
}

@media screen and (max-width: 880px) {
  .fas {
    font-size: 1rem;
  }
  #head-top.sticky a:hover {
    padding: 0.2rem !important;
  }
  .logo {
    flex: 8 !important;
  }
  .logo h1 {
    font-size: 2rem !important;
  }
  .color-white,
  #moving-text {
    font-size: 2.6rem !important;
  }
  .service-text {
    text-align: center;
  }
  .detail h4 {
    font-size: 1.5rem;
  }
  .detail p {
    font-size: 0.9rem;
  }
  .custom .fa {
    font-size: 1rem;
  }
  #customer-section {
    width: 100% !important;
  }
  .testimonial p {
    font-size: 0.8rem;
  }
  .c-title {
    font-size: 2rem !important;
  }
  .task h6 {
    font-size: 1rem !important;
  }
  .limit-width h4 {
    font-size: 2rem !important;
  }
  .red-read-more {
    font-size: 0.7rem;
  }

  .lead {
    font-size: 1rem !important;
  }
  .date {
    font-size: 0.6rem !important;
  }
  .sid {
    font-size: 1rem !important;
  }
  .dog-tasks {
    max-width: 100%;
  }
  .nav-items,
  .search-bar {
    flex: 2;
    display: none;
  }

  .nav-bar {
    justify-content: space-around;
  }
  .hamburger {
    display: block !important;
    cursor: pointer;
  }
  #head-top.show .hamburger {
    padding-top: 0.5rem;
  }
  #head-top.show {
    height: 100vh;
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    flex-direction: column;

    z-index: 10;
    justify-content: center;
    align-items: center;
    background: #000;
  }

  #head-top.show .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: space-evenly !important;
  }
  #head-top.show .sticky,
  #head-top.show .logo {
    display: none;
  }
  #head-top.show .nav-bar {
    width: 80vw;
    flex-direction: row-reverse;
    flex-flow: row-reverse;
  }
  #head-top.show .nav-items li {
    /* padding: 1rem; */
  }

  .nav-items.show #head-top.sticky a:hover,
  #head-top a:hover,
  .active {
    border: none;
  }

  #head-top.show .nav-items a {
    color: #fff !important;
  }

  #head-top {
    justify-content: space-around;
    align-items: center;
  }

  .about-us {
    flex-direction: column;
    width: 100% !important;
    text-align: center;
  }
  .about-content {
    min-width: 100% !important;
    padding: 2rem 0 !important;
  }
  .title h3 {
    width: 80% !important;
  }

  .title .btn-white {
    margin-right: 5rem !important;
  }
  .c-title {
    padding-bottom: 1rem;
  }

  .image-container img {
    width: 100%;
  }

  .training {
    flex-direction: column;
    width: 100% !important;
  }
  .task {
    width: max-content;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .task p {
    width: 70%;
  }

  .dog-image {
    text-align: center;
  }

  .dog-tasks,
  .task h6,
  .task p {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .pet-content {
    width: 100% !important;
    text-align: center;
  }
  .pet-content h4 {
    padding-bottom: 1.2em;
  }

  .limit-width {
    max-width: 80% !important;
    margin: auto;
  }

  .text-tag {
    color: orange !important;
    font-size: 1.5em !important;
    padding: 2em;
  }

  .footer {
    padding: 3rem 0;
  }
  .upper-footer {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .upper-footer .logo-div {
    max-width: 100% !important;
    text-align: center;
  }
  .upper-footer .logo-div .logo {
    text-align: center;
    justify-content: center;
  }

  .categories {
    width: 100% !important;
    text-align: center;
    margin-top: 3rem !important;
  }

  .upper-footer h1 {
    color: orange;
  }

  .newsletter {
    text-align: center;
  }

  .subscription .color-white {
    color: #fff;
  }
  .email-field {
    margin: 1em 0;
  }
  .lower-footer {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-para {
    margin-bottom: 1rem !important;
  }

  .social-icons {
    justify-content: space-evenly;
  }

  #customer-section {
    flex-direction: column;
  }
  .customer-intro {
    margin-bottom: 3rem !important;
  }
  .cus-intro-text {
    margin-bottom: 2rem;
  }
  .customer-icons,
  .customers {
    max-width: 90% !important;
  }
  .gallary-content,
  .gallary-content .service-title {
    width: 100% !important;
  }
  #gallary {
    padding: 6rem 0 !important;
  }

  .service-title,
  .service-cards {
    width: 100% !important;
  }
  .footer-links h1 {
    text-align: center !important;
  }
  .links {
    text-align: left !important;
  }
}
@media screen and (max-width: 600px) {
  .footer .logo-div {
    padding-right: 0 !important;
  }
  .cus-intro-text p {
    margin-right: 0 !important;
  }
  .customer-intro {
    margin-left: 0 !important;
    text-align: center;
  }
  .service-text,
  .testimonial,
  .customers {
    margin-left: 0rem !important;
    padding: 0rem !important;
  }
  .customer-image {
    padding: 0 !important;
  }
  #head-top.sticky {
    max-width: 100vw;
  }
  .email-field {
    text-align: left;
  }
  .email-field button {
    width: 18% !important;
  }
  .logo h1 {
    font-size: 1.5rem !important;
  }

  .color-white {
    font-size: 1rem !important;
  }
  .link {
    font-size: 0.8rem;
  }
}

.title h3 {
  font-size: 50px;
  line-height: 65px;
  font-weight: 300;
  width: 45%;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.35rem;
  font-weight: 300;
}
.header-buttons {
  margin: 2rem 0;
}
.white-button {
  background-color: #fff;
  border: none;
  border-radius: 0.3rem;
  margin: 0.5rem;
  margin-left: 0 !important;
}

.hire {
  background-color: transparent;
  border-radius: 0.3rem;
  margin: 0.5rem;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.hire:hover {
  background-color: #fff !important;
  color: black !important;
  transition: all 0.5s ease-in-out !important;
}
.btn-white {
  padding: 1rem;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 1px solid #fff;
}

.btn-white:hover {
  transition: all 0.5s ease-in-out;
  background: transparent;
  color: #fff;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 0 4%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-us {
  padding: 7% 0;
  justify-content: space-around !important;
  /* flex-wrap: wrap; */
  width: 80%;
  margin: auto;
}
.card {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card i {
  color: #f85a40 !important;
}
.card h4 {
  margin-top: 1rem;
  font-weight: 600;
}

.content-desc {
  margin-top: 4rem;
  /* border: 1px solid red; */
  align-content: flex-start;
}
.c-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
}

#services {
  background-color: #fafafa;
  text-align: center;
  padding: 3rem 0;
}
.service-title {
  width: 80%;
  margin: auto;
  text-align: center;
  color: var(--heading-color);
  font-family: "Raleway", sans-serif;
  margin-bottom: 3rem;
}

.service-title p {
  width: inherit;
  letter-spacing: 0.4px;
  margin: auto;
  line-height: 1.6;
  text-align: center !important;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.service-card {
  transition: 0.3s ease;
  width: 31%;
  text-align: left;
  border: 1px solid inherit;
  background-color: #fff;
  border: 1px solid #fff;
}

.service-card:hover {
  box-shadow: 0 15px 15px 0 rgb(10 16 34 / 20%);
  background: #fff;
  border-radius: 15px;
  transition: 0.3s ease;
}

.service-text {
  padding: 1rem;
}
.service-card img {
  width: 100%;
}

.red-read-more {
  padding: 0;
  color: #f85a40;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.service-card a {
  text-decoration: none;
}
.sid {
  color: black;
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}

.service-text p {
  margin-bottom: 1rem;
}

.service-title h3 {
  margin-bottom: 0.5rem !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
}

#customer-section {
  padding: 5rem 0;
  width: 80%;
  margin: auto;
}

.customers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
  margin-left: 2rem;
}
.customer-testimonial {
  display: flex;
  justify-content: space-between !important;
  margin: 1rem 0;
}
.testimonial p::before {
  content: '"';
  font-size: 50px;
  color: #4f65c3;
  font-family: inherit;
  line-height: 0.8;
  padding-top: 8px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
.testimonial {
  padding: 0 0.5rem;
}
.testimonial p {
  margin: 0 0 1rem;
}
.testimonial h5 {
  color: #1a2c79;
  font-weight: 600;
  font-size: 16px;
}

.customer-image {
  padding: 0 1rem;
}
.customer-testimonial img {
  border-radius: 5rem;
}

.cus-intro-text h3 {
  margin-bottom: 0.5rem !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
}
.cus-intro-text p {
  margin: 1rem 2rem 1rem 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.customer-icons {
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.custom {
  align-items: baseline;
  justify-content: space-between;
}
.custom h4 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 0.5rem;
}
.custom .fa {
  margin-right: 1rem;
  color: navy;
}
.customer-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

#gallary {
  background-color: #fafafa;
  text-align: center;
  padding: 3rem 0;
}
.gallary-content {
  width: 80%;
  margin: auto;
}
.gallary-image-section {
  display: flex;
}
.section-one,
.section-two,
.section-three {
  display: flex;
  flex-direction: column;
  width: auto;
}

.merge-class {
  display: flex;
}

.small-image,
figure {
  width: 100%;
  height: 100%;
}
.small-image img,
.merge-class img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.training {
  width: 75%;
  margin: auto;
  padding: 5rem 0;
}
.dog-image {
  margin-right: 5rem;
}
.dog-tasks {
  flex-wrap: wrap;
}
.task {
  max-width: 50%;
  padding: 2rem;
}
.task i {
  color: #f85a40;
}
.task h6 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: 600;
}
.pet-lovers {
  background-image: url("/images/dog-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.pet-lovers h4 {
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  margin: 20px 0;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 2rem;
}
.text-tag {
  color: #eee;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.pet-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 5rem 0;
}

.limit-width {
  max-width: 60%;
}

.pet-content button {
  margin-top: 2rem !important;
}

.date {
  font-size: 16px;
  margin-top: 0;
  font-style: italic;
  font-weight: 500;
  border-bottom: none;
  padding-bottom: 0px;
  text-align: right;
  color: #1a2c79;
  margin-right: 1.5rem;
}

.latest-news .service-card .red-read-more {
  padding: 0;
  color: #1a2c79;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  bottom: 0;
}

.footer {
  background: #060606;
  padding: 5em 0 4em;
}
.footer-links {
  font-size: 10px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.upper-footer,
.lower-footer {
  width: 80%;
  margin: auto;
}

.logo-div {
  max-width: 33%;
  flex: 0 0 33.33333%;
  padding-right: 4rem !important;
}

.links ul li {
  display: block;
  list-style: none;
  margin: 10px 0;
  font-size: 15px;
  line-height: 25px;
  color: #d4d4d4;
}
.links ul li::before {
  content: ">";
  color: #d4d4d4;
  margin-right: 4px;
}
.categories {
  width: 30%;
}

.footer .logo {
  margin-bottom: 30px;
}
.subscription h1 {
  font-size: 19px;
}
.links ul {
  flex: 0 0 50%;
  max-width: 50%;
}

.email-field input {
  background: #fff;
  border: none;
  padding: 12px 12px;
  font-size: 15px;
  outline: none;
  width: 80%;
  color: #333;
  border-radius: 2px;
}
.email-field button {
  background: #f85a40;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 19%;
  color: #fff;
}
.footer-para,
.footer-para p {
  color: #d4d4d4;
}

.footer hr {
  width: 80%;
  margin: 3rem 0;
}
.footer a {
  text-decoration: none;
  color: #f85a40;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons li {
  list-style: none;
  margin: 0 1.5rem;
  cursor: pointer;
}
.social-icons li i,
.header-bottom .lead {
  color: #fff;
}

img,
a,
li {
  cursor: pointer;
}

.hamburger {
  display: none;
  background-color: transparent;
  color: orange;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

.nav-items .fa {
  color: #fff;
}
